    <footer class="d-flex flex-wrap justify-content-between align-items-center py-1 px-5 border-top fixed-bottom navbar-dark bg-dark ">
       <p class="col-md-4 mb-0 link-light">© 2022 Argel Miralles</p>
       <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-light text-decoration-none">
           Express Demo
       </a>
       <ul class="nav col-md-4 justify-content-end">
         <li class="nav-item"><a href="/" class="nav-link px-2 link-light">Home</a></li>
         <li class="nav-item"><a href="/r/soccer" class="nav-link px-2 link-light">Soccer</a></li>
         <li class="nav-item"><a href="/r/chickens" class="nav-link px-2 link-light">Chickens</a></li>
         <li class="nav-item"><a href="/r/mightyharvest" class="nav-link px-2 link-light">Mighty Harvest</a></li>
       </ul>
    </footer>
  </body>
</html>
